.landing-pg {
	height: 100vh;
    background-image: url(../media/images/splash-large.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.navbar	{
	width:100%;
    z-index: 1;
    padding-top: 0.5rem;
}
li.menu	{
	font-size:	1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border-radius: 0.25rem;
    border-width: 0.1rem;
    padding: 0.5rem 0.5rem;
    border-color: white;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
}
li.menu a	{
	display:	block;
	color: white;
	text-align:	center;
	padding:	1rem 0.75rem;
	text-decoration:	none;
}
#menu-feature a {
    font-size: 1.25rem;
    border-style: solid;
    border-color: white;
    border-width: 0.25rem;
}
#menu-feature a:hover {
    background-color: inherit;
}
li a:hover	{
	-webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 1.25rem;
	-webkit-transition: font-size 0.2s ease-in-out;
	-o-transition: font-size 0.2s ease-in-out;
	transition: font-size 0.2s ease-in-out;
}
.feature-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 0rem;
    margin-right: 0rem;
}
.social {
    float: left;
    margin-left: 2.5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.social:after {
    margin-left: 0%;
}
.hero-feature {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    font-size: 3rem;
    padding: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
}
.hero-text {
    text-align: center;
    color: white;
    padding: 0 2rem 2rem 2rem;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    font-size: 2rem;
}
.hero-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 1.5rem;
}
.hero-button-l {    
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline: 0;
    padding: 1.5rem;
    color: white;
    background-color:	rgba(0,0,0,0.6);
    text-align: center;
    cursor: pointer;
    text-decoration:	none;
    font-size: 1.5rem;
    margin: 5rem;
}
.hero-button-r {
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline: 0;
    padding: 1.5rem;
    color: black;
    background-color:	red;
    text-align: center;
    cursor: pointer;
    text-decoration:	none;
    font-size: 1.5rem; 
    margin: 5rem;
}
@media screen and (min-width: 910px) and (max-width: 1150px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-med.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.3rem;
        font-size: 0.85rem;
    }
    li a:hover {
        font-size: 1rem;
    }
    #menu-feature a {
        font-size: 1rem;
    }
    .social {
        margin-left: 1.5rem;
    }
}
@media only screen and (min-width: 800px) and (max-width: 909px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-med.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.6rem;
        font-size: 0.7rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.8rem;
    }
    #menu-feature a {
        font-size: 0.8rem;
        border-width: 0.2rem;
    }
    .social {
        margin-left: 0.2rem;
    }
    .hero-feature {
        font-size: 2rem;
        margin-top: 0;
    }
    .hero-text {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .hero-button-l {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .hero-button-r {
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
}
@media only screen and (min-width: 700px) and (max-width: 799px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-med.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.5rem;
        font-size: 0.6rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.65rem;
    }
    #menu-feature a {
        font-size: 0.65rem;
        border-width: 0.2rem;
    }
    .social {
        margin-left: 0.2rem;
    }
    .hero-feature {
        font-size: 2rem;
        margin-top: 0;
    }
    .hero-text {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .hero-button-l {
        margin: 1rem;
        font-size: 1.2rem;
        padding: 1rem;
    }
    .hero-button-r {
        margin: 1rem;
        font-size: 1.2rem;
        padding: 1rem;
    }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-small.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.15rem;
        font-size: 0.4rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.5rem;
    }
    #menu-feature a {
        font-size: 0.5rem;
        border-width: 0.075rem;
    }
    #menu-feature a:hover {
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .hero-feature {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .hero-text {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .hero-button-l {
        margin: 1rem;
        font-size: 0.8rem;
        padding: 1rem;
    }
    .hero-button-r {
        margin: 1rem;
        font-size: 0.8rem;
        padding: 1rem;
    }
}
@media only screen and (min-width: 425px) and (max-width: 549px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-small.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.15rem;
        font-size: 0.3rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.5rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0.05rem;
    }
    .social {
        margin-left: 0rem;
    }
    .hero-feature {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .hero-text {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .hero-button-l {
        margin: 1rem;
        font-size: 0.8rem;
        padding: 1rem;
    }
    .hero-button-r {
        margin: 1rem;
        font-size: 0.8rem;
        padding: 1rem;
    }
}
@media only screen and (min-width: 200px) and (max-width: 424px) {
    .landing-pg {
        height: 100vh;
        background-image: url(../media/images/splash-small.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    li.menu {
        padding: 0.2rem;
        font-size: 0.1rem;
        -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.2rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .feature-text {
        margin: 0;
    }
    .hero-feature {
        font-size: 1.5rem;
        margin-top: 0;
        padding-top: 6rem;
    }
    .hero-text {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    .hero-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 0rem;
        padding-top: 0.2rem;
        width: 12rem;
        margin-right: 2.5rem;
    }
    .hero-button-l {
        margin: 0.5rem;
        font-size: 0.8rem;
        padding: 1rem;
        width: 100%;
    }
    .hero-button-r {
        margin: 0.5rem;
        font-size: 0.8rem;
        padding: 1rem;
        width: 100%;
    }
}