.skills-pg {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.navbar	{
	width:100%;
    z-index: 1;
    padding-top: 0.5rem;
}
li.menu	{
	font-size:	1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border-radius: 0.25rem;
    border-width: 0.1rem;
    padding: 0.5rem 0.5rem;
    border-color: white;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
}
li.menu a	{
	display:	block;
	color: white;
	text-align:	center;
	padding:	1rem 0.75rem;
	text-decoration:	none;
}
#menu-feature a {
    font-size: 1.25rem;
    border-style: solid;
    border-color: white;
    border-width: 0.25rem;
}
#menu-feature a:hover {
    background-color: inherit;
}
li a:hover	{
	-webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 1.25rem;
	-webkit-transition: font-size 0.2s ease-in-out;
	-o-transition: font-size 0.2s ease-in-out;
	transition: font-size 0.2s ease-in-out;
}
.skills-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 0rem;
    padding-bottom: 4rem;
}
.skills-frame {
    background-color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 4% 4% 0 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
    padding-bottom: 4rem;
}
.skills-circles {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    padding: 0 2rem 1rem 2rem;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 4%;
}
.skills-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-left: 6%;
    padding: 1rem 2rem 1rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.project-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-style: solid;
    width: 15%;
    height: auto;
    margin-right: 5%;
    margin-top: 4rem;
    border-width: 0.25rem;
    border-color: black;
}
.project-text {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
    color: white;
}
.project-details {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 0 1rem 1rem 1rem;
}
.api-link {
    text-decoration: none;
}
.detail-text {
    font-weight: normal;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}
.skills-image-frame {
    margin: 0 3% 0 6%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: 16rem;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.skills-image {
    width: 100%;
    padding-right: 2rem;
}
.skill-circle {
    border-radius: 50%;
    border-style: solid;
    width: 90%;
    height: 15rem;
    margin-right: 5%;
    border-width: 0.25rem;
    border-color: black;
    cursor: pointer;
    outline: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.skill-circle:hover {
	-webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-filter: brightness(145%);
            filter: brightness(145%);
    color: black;
    -webkit-box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.3);
            box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.3);
}
.skill-circle:focus {
	color: black;
	-webkit-filter: brightness(125%);
	        filter: brightness(125%);
}
.skill-link {
    text-decoration: none;
}
.skill-text {
    color: black;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}
.skills-text {
    color: black;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    padding: 2rem 2rem 0 2rem;
}
.sub-heading {
    font-size: 1.5rem;
    text-align: center;
}
.social {
    float: left;
    margin-left: 15%;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.social:after {
    margin-left: 0%;
}

@media screen and (min-width: 910px) and (max-width: 1150px) {
    li.menu {
        padding: 0.3rem;
        font-size: 0.85rem;
    }
    li a:hover {
        font-size: 1rem;
    }
    #menu-feature a {
        font-size: 1rem;
    }
    .social {
        margin-left: 1.5rem;
    }
    .project-image {
        margin-right: 1rem;
        width: 10rem;
    }
    .project-text {
        margin: 0rem;
        padding-top: 5rem;
        font-size: 1.5rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .detail-text {
        font-size: 1.2rem;
    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .skill-circle {
        width: 10rem;
        height: 10rem;
    }
    .skills-image-frame {
        margin: 0 3% 0 3%;
        padding-bottom: 2rem;
        height: 12rem;
    }
    .skills-image {
        padding: 0 1rem;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.3rem;
    }

}
@media only screen and (min-width: 800px) and (max-width: 909px) {
    li.menu {
        padding: 0.6rem;
        font-size: 0.7rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.8rem;
    }
    #menu-feature a {
        font-size: 0.8rem;
        border-width: 0.2rem;
    }
    .social {
        margin-left: 0.2rem;
    }
    .project-image {
        margin-right: 1rem;
        width: 10rem;
    }
    .project-text {
        margin: 0rem;
        padding-top: 4rem;
        font-size: 1.3rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .detail-text {
        font-size: 1rem;
    }
    .sub-heading {
        font-size: 1.1rem;
    }
    .skill-circle {
        width: 8rem;
        height: 8rem;
    }
    .skills-image-frame {
        margin: 0 3% 0 3%;
        padding-bottom: 1rem;
        height: 12rem;
    }
    .skills-image {
        padding: 0 1rem;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 699px) and (max-width: 799px) {
    li.menu {
        padding: 0.5rem;
        font-size: 0.6rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.65rem;
    }
    #menu-feature a {
        font-size: 0.65rem;
        border-width: 0.2rem;
    }
    .social {
        margin-left: 0.2rem;
    }
    .project-image {
        margin-right: 1rem;
        width: 10rem;
    }
    .project-text {
        margin: 0rem;
        padding-top: 3rem;
        font-size: 1rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .detail-text {
        font-size: 0.9rem;
    }
    .sub-heading {
        font-size: 0.9rem;
    }
    .skill-circle {
        width: 7rem;
        height: 7rem;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-bottom: 1rem;
        height: 8rem;
    }
    .skills-image {
        padding: 0 1rem;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 549px) and (max-width: 699px) {
    li.menu {
        padding: 0.15rem;
        font-size: 0.4rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.5rem;
    }
    #menu-feature a {
        font-size: 0.5rem;
        border-width: 0.075rem;
    }
    #menu-feature a:hover {
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .project-image {
        margin-right: 1rem;
        width: 10rem;
    }
    .project-text {
        margin: 0rem;
        padding-top: 3rem;
        font-size: 0.8rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .detail-text {
        font-size: 0.8rem;
    }
    .sub-heading {
        font-size: 0.8rem;
    }
    .skill-circle {
        width: 5rem;
        height: 5rem;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-bottom: 1rem;
        height: 6rem;
    }
    .skills-image {
        padding: 0 1rem;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 425px) and (max-width: 549px) {
    li.menu {
        padding: 0.15rem;
        font-size: 0.3rem;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.5rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0.05rem;
    }
    .social {
        margin-left: 0rem;
    }
    .skills-project {
        margin: 1rem 1rem 1rem 0;
    }
    .project-image {
        margin-top: 1rem;
        width: 100%;
        margin-right: 0%;
    }
    .project-text {
        margin: 0rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .heading {
        padding: 0rem;
    }
    .detail-text {
        font-size: 0.8rem;
    }
    .sub-heading {
        font-size: 0.8rem;
    }
    .skills-project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0rem 2rem 0.5rem 2rem;
    }
    .heading-text {
        margin: 0;
    }
    .skill-circle {
        width: 10rem;
        height: 10rem;
        margin: 0 4rem;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .skills-image {
        padding: 1rem 0;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 360px) and (max-width: 425px) {
    li.menu {
        padding: 0.2rem;
        font-size: 0.1rem;
        -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.2rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .skills-project {
        margin: 1rem 1rem 1rem 0;
    }
    .project-image {
        margin-top: 1rem;
        width: 100%;
        margin-right: 0%;
    }
    .project-text {
        margin: 0rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .heading {
        padding: 0rem;
    }
    .detail-text {
        font-size: 0.8rem;
    }
    .sub-heading {
        font-size: 0.8rem;
    }
    .skills-project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0rem 2rem 0.5rem 2rem;
    }
    .heading-text {
        margin: 0;
    }
    .skill-circle {
        width: 10rem;
        height: 10rem;
        margin: 0 3rem;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .skills-image {
        padding: 1rem 0;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    li.menu {
        padding: 0.2rem;
        font-size: 0.1rem;
        -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.2rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .skills-project {
        margin: 1rem 1rem 1rem 0;
    }
    .project-image {
        margin-top: 1rem;
        width: 100%;
        margin-right: 0%;
    }
    .project-text {
        margin: 0rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .heading {
        padding: 0rem;
    }
    .detail-text {
        font-size: 0.8rem;
    }
    .sub-heading {
        font-size: 0.8rem;
    }
    .skills-project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0rem 2rem 0.5rem 2rem;
    }
    .heading-text {
        margin: 0;
    }
    .skill-circle {
        width: 10rem;
        height: 10rem;
        margin: 0 1.5rem;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .skills-image {
        padding: 1rem 0;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 200px) and (max-width: 320px) {
    li.menu {
        padding: 0.2rem;
        font-size: 0.1rem;
        -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
    }
    li a:hover {
        font-size: 0.35rem;
    }
    li.menu a {
        padding: 0.2rem;
    }
    #menu-feature a {
        font-size: 0.35rem;
        border-width: 0rem;
    }
    .social {
        margin-left: 0rem;
    }
    .skills-project {
        margin: 1rem 1rem 1rem 0;
    }
    .project-image {
        margin-top: 1rem;
        width: 100%;
        margin-right: 0%;
    }
    .project-text {
        margin: 0rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .project-details {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
    }
    .heading {
        padding: 0rem;
    }
    .detail-text {
        font-size: 0.8rem;
    }
    .sub-heading {
        font-size: 0.8rem;
    }
    .skills-project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0rem 2rem 0.5rem 2rem;
    }
    .heading-text {
        margin: 0;
    }
    .skill-circle {
        width: 10rem;
        height: 10rem;
        margin: 0 1rem;
    }
    .skills-image-frame {
        margin: 0 2% 0 2%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .skills-image {
        padding: 1rem 0;
    }
    .skills-text {
        padding-right: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}